<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title><!--заголовок-->
    <link rel="icon" type="image/png" href="/static/img/question-icon.png"/><!--иконка сайта-->
    <!--Это базовый шаблон, создающий шапку, правую колонку и нижнюю панель
        блок content остаётся пустым и будет переопределён дочерними шаблонами-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/question_answer/basic_page.css">
    {% load static %}
    {% block links_in_header %}
        {#ссылки на js и css, специфичные для каждой страницы#}
    {% endblock links_in_header %}
</head>
<body>
<header class="gradient_backgraund">
    <a class="d-flex" href="/"><img class="logo" src="/static/img/question-logo-white.png"/></a>

    <form class="d-flex flex-row">
        <input class="form-control search-field" placeholder="" type="text">
        <button class="btn btn-info" type="submit">Найти</button>
    </form>

    {% if user.is_authenticated %}
        <div class="avatar-wrapper">
            <div class="">
                <img src="{{ user.profile.avatar.url }}" class="user-avatar bordered">
            </div>
            <div class="action-login">
                <h5 class="nickname">{{ user.first_name }}</h5>
                <a href="{% url "settings" %}">Настройки</a>
                <form class="logout-link" action="{% url "logout" %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-link" type="submit" value="Выйти">
                </form>
            </div>
        </div>
    {% else %} {# для не залогиненого. #}
        <div>
            <a href="{% url "login" %}">Войти</a> или <a href="{% url "signup" %}">зарегистрироваться.</a><br/>
            Это не займёт много времени.
        </div>
    {% endif %}

</header>
<div class="container d-flex flex-column flex-lg-row flex-xl-row">
    <main class="right-column d-flex flex-column">
        {% block main_content %}
            Тут должено распологаться полезное содержимое сайта.
        {% endblock main_content %}
    </main>
    <div class="d-flex flex-row col-12 flex-lg-column col-lg-3 flex-xl-column col-xl-3 left-column">
        <div class="popular-tags-wrapper bordered flex-column">
            <h4 class="d-flex">Популярные темы</h4>
            <div class="popular-tags d-flex flex-column">
                {% for tag in excerpt_tags %}
                    <a class="d-flex" href="{% url 'tag' tag %}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="best-members-wrapper bordered flex-column">
            <h4 class="d-flex">Лучшие участники</h4>
            <div class="best-members d-flex flex-column">
                {% for username in excerpt_usernames %}
                    <div class="member d-flex">{{ username }}</div><br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="crutch_for_footer"></div>
<footer class="gradient_backgraund">
    <span>Семёнов Максим</span>
    <a href="https://github.com/OlegSchwann/Technopark-Web" class="github_link">Github</a>
</footer>
</body>
</html>

