{#<html><head><link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css"></head></html>#}

{% extends "question_answer/questions_tape.html" %}

{% block section_header %}
    <div class="main-captions bordered">
        <h4>Самые интересные вопросы</h4>
    </div>
{% endblock section_header %}

{% block pagination %}
    <nav>
        <ul class="pagination bordered">
            {% for previous_page in previous_pages %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'hot' previous_page %}">{{ previous_page }}</a>
                </li>
            {% endfor %}
            <li class="page-item active">
                <a class="page-link" href="{% url 'hot' questions.number %}">{{ questions.number }}</a>
            </li>
            {% for next_page in next_pages %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'hot' next_page %}">{{ next_page }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock pagination %}