{#<html>#}
{#<head>#}
{#    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">#}
{#    <!--Для того, что бы работало автодополнение-->#}
{#</head>#}
{#</html>#}

{% extends "question_answer/basic_page.html" %}
{% block links_in_header %}
    <link rel="stylesheet" href="/static/question_answer/one_question_page.css" type="text/css">
{% endblock links_in_header %}

{% block main_content %}
    <div class="main-content bordered">
        <div class="row ">
            <div class="col-2"><!--обёртка вокруг аватарки и счётчика-->
                <img class="img-filling bordered" src="/static/img/block_100x100pc.png">
                <div class="text-center">{{ question.nickname }}</div>
                <div class="rating-counter">
                    <span>{{ question.rating }}</span>
                    <form>
                        <input class="evaluation_buttons plus" type="submit" value="▲">
                        <input class="evaluation_buttons minus" type="submit" value="▼">
                    </form>
                </div>
            </div>
            <div class="qestion__content col-10"><!--Вокруг текстовой части-->
                <h5>{{ question.title }}</h5>
                <div>{{ question.text }}</div>
                <div class="question_time">{{ question.time }}</div>
                <div class="tags-field">
                    🔗
                    {% for tag in question.tags %}
                        <a href="{% url "tag" tag %}">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--раздел с ответами на комментарий. Система такая-же, как и в обычной енте вопросов, но есть checkbox "верный"-->
        {% for ansver in ansvers %}
        <hr>
        <div>
            <div class="row ">
                <div class="col-2"><!--обёртка вокруг аватарки и счётчика-->
                    <img class="img-filling bordered" src="/static/img/block_100x100pc.png">
                    <div class="text-center">{{ ansver.nickname }}</div>
                    <div class="rating-counter">
                        <span>{{ ansver.rating }}</span>
                        <form>
                            <input class="evaluation_buttons plus" type="submit" value="▲">
                            <input class="evaluation_buttons minus" type="submit" value="▼">
                        </form>
                    </div>
                </div>
                <div class="qestion__content col-10"><!--Вокруг текстовой части-->
                    {% if ansver.best_answer %}
                        <span class="best_answer">✓</span>{# Надо сделать покрасивее галочку #}
                    {% endif %}
                    <span>{{ ansver.text }}</span>
                    <div class="question_time">{{ question.time }}</div>
                    <form>
                        <input id="ansver_{{ ansver.id }}" type="checkbox">
                        <label for="ansver_{{ ansver.id }}">правильно</label>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        <hr>
        <!--форма для ответа-->
        <form class="form-group">
            <textarea class="form-control" id="AnsverTextarea" rows="1" placeholder="Ваш ответ."></textarea>
            <br>
            <input type="submit" class="btn btn-info" value="отправить">
        </form>
    </div>
{% endblock main_content %}