{#<html><head><link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css"></head></html>#}

{% extends "question_answer/questions_tape.html" %}

{% block section_header %}
    <div class="main-captions bordered">
        <h4>Вопросы по тегу "{{ tag }}".</h4>
    </div>
{% endblock section_header %}

{% block pagination %}
    <nav class="bordered">
        <div class="pagination">
            {% for previous_page in previous_pages %}
                <div class="page-item">
                    <a class="page-link" href="{% url 'tag_page' tag previous_page %}">{{ previous_page }}</a>
                </div>
            {% endfor %}
            <div class="page-item active">
                <a class="page-link" href="{% url 'tag_page' tag current_page %}">{{ current_page }}</a>
            </div>
            {% for next_page in next_pages %}
                <div class="page-item">
                    <a class="page-link" href="{% url 'tag_page' tag next_page %}">{{ next_page }}</a>
                </div>
            {% endfor %}
        </div>
    </nav>
{% endblock pagination %}