{# формирует ленту вопросов, оставляя незаполненным только заголовок #}
{# используется для новых, горячих вопросов и для тега#}

{#<html><head><link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css"></head></html>#}

{% extends "question_answer/basic_page.html" %}
{% block links_in_header %}
    <link rel="stylesheet" href="/static/question_answer/hot_qestions.css" type="text/css">
    <svg class="app-svg" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <symbol id="icon--comments__toggle" viewBox="0 0 6 6">
        <g fill-rule="evenodd">
            <path fill="currentColor" d="M6 3.5H0v-1h6"></path>
            <path d="M2.5 6V0h1v6"></path>
        </g>
    </symbol>
    <symbol id="icon--ui__rating-down" viewBox="0 0 18 10">
        <path d="M17.85.35c.1.1.15.25.15.35 0 .15-.05.25-.15.35L9.8 9.6c-.15.2-.45.35-.8.35-.35 0-.65-.15-.8-.35L.15 1.05a.6.6 0 0 1 0-.7C.3.15.65 0 .95 0h16.1c.35 0 .65.15.8.35z"
              fill-rule="evenodd"></path>
    </symbol>
    <symbol id="icon--ui__rating-up" viewBox="0 0 18 10">
        <path d="M17.85 9.65c.1-.1.15-.25.15-.35 0-.15-.05-.25-.15-.35L9.8.4C9.65.2 9.35.05 9 .05c-.35 0-.65.15-.8.35L.15 8.95a.6.6 0 0 0 0 .7c.15.2.5.35.8.35h16.1c.35 0 .65-.15.8-.35z"
              fill-rule="evenodd"></path>
    </symbol>
</svg>
{% endblock links_in_header %}

{% block main_content %}
    <div class="main-container d-flex flex-column">
        {% block section_header %}
            <div class="main-captions bordered">
                лента без специализации
            </div>
        {% endblock section_header %}
        {% for question in questions %}
            <div class="question bordered">
                <div class="col-2">
                    <img class="img-filling bordered" src="/static/img/block_100x100pc.png">
                    <div class="text-center">{{ question.nickname }}</div>
                    <div class="rating-counter">
                        <span>{{ question.rating }}</span>
<form method="post" action="{% url "evaluation_of_questions" %}">
    {% csrf_token %}
    <input type="hidden" name="question_id" value="{{ question.id }}">
    <button type="submit" class="btn btn-success btn-up" name="action" value="plus">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon--ui__rating-up icon--ui__rating-up_comments">
    <use xlink:href="#icon--ui__rating-up"></use>
</svg>
    </button>
    <button type="submit" class="btn btn-danger btn-down" name="action" value="minus">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon--ui__rating-down icon--ui__rating-down_comments">
    <use xlink:href="#icon--ui__rating-down"></use>
</svg>
    </button>
</form>
                    </div>
                </div>
                <div class="qestion__content col-10"><!--Вокруг текстовой части-->
                    <a href="{% url "question" question.id %}"><h5>{{ question.title }}</h5></a>
                    <div>{{ question.text }}</div>
                    <div>
                        <a href="{% url "question" question.id %}">ответы ({{ question.answers }})</a>
                        <span class="question_time">{{ question.time }}<span>
                    </div>

                    <div class="tags-field">
                        🔗
                        {% for tag in question.tags %}
                            <a href="{% url "tag" tag %}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% block pagination %}
        <nav>
            <ul class="pagination bordered"></ul>
        </nav>
    {% endblock pagination %}
{% endblock main_content %}