.main-captions{
    padding: 15px;
}

.main-captions h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.question {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 15px;
}

.img-filling {
    max-width: 100%;
    min-width: 100%;
}

.evaluation_buttons {
    margin: 0;
    padding: 0;
    background: inherit;
    border: none;
    outline: none;
    font-size: medium;
}

.rating-counter {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.app-svg {
    display: none;
}

.btn{
    padding: 0.1rem;
}

.btn-up svg {
    width: 1rem;
    height: 1rem;
}


.btn-down svg {
    width: 1rem;
    height: 1rem;
    padding: 0.1rem;
}

.btn-best svg {
    width: 1rem;
    height: 1rem;
    padding: 0.1rem;
}

.page-item {
    /*Почему-то display: flex всё ломает.*/
    flex-grow: 1;
    text-align: center;
}