.main-content {
    padding: 15px;
    min-height: 50rem;
}

.evaluation_buttons {
    margin: 0;
    padding: 0;
    background: inherit;
    border: none;
    outline: none;
    font-size: medium;
}

.rating-counter {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.app-svg {
    display: none;
}

.btn{
    padding: 0.1rem;
}

.btn-up svg {
    width: 1rem;
    height: 1rem;
}


.btn-down svg {
    width: 1rem;
    height: 1rem;
    padding: 0.1rem;
}

.btn-best svg {
    width: 1rem;
    height: 1rem;
    padding: 0.1rem;
}

textarea {
    min-height: 7rem;
}

.best_answer {
    font-size: 2rem;
    color: #1e7e34;
}